html    {
    scroll-behavior: smooth;
}

body    {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color:#000;
    font-family: 'Cabin', sans-serif;
}

.footer-wrap    {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-black {
    background-color: #000;
    opacity: 0.9;
    color: white;
  }